.my-slider {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pagination-button {
    min-width: 40px !important;
}

.pagination-buttons {
    user-select: none;
}

.pagination-buttons label {
    margin-inline: 10px;
}

.grid {
    margin-top: calc(var(--nav-height) * 3);
}

.control-panel {
    display: flex;
    width: 100%;
    height: calc(var(--nav-height) + 40px);
    background-color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 10;
    user-select: none;
    top: var(--nav-height);
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}