.poke-full-card {
    user-select: none;
    width: 40%;
    height: fit-content;
    margin-top: 0;
    padding-top: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
    background-color: white;
    padding: 2rem 4rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    z-index: 101 !important;
}


.poke-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-section,
.bottom-section {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-evenly;
}

.bottom-section {
    justify-content: space-evenly;
}

.types-section {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-evenly;
}

.abilities-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.abilities-section label {
    padding-inline: 0px;
}

.abilities-section h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.pokemon-type {
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
}



#poke-img {
    width: 250px !important;
    height: 250px !important;
}

@media only screen and (max-width: 768px) {
    #poke-img {
        width: 150px !important;
        height: 150px !important;
    }

    .top-section,
    .bottom-section {
        flex-direction: column;
    }

    .bottom-section {
        margin-top: 30px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .top-section {
        margin-top: 40px;
    }

    .abilities-section {
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .poke-full-card {
        width: 80%;
        padding-inline: 10px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 850px) {
    .poke-full-card {
        width: 70%;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1400px) {
    .poke-full-card {
        width: 60%;
        padding-inline: 25px;
    }
}