.poke-full-card {
    user-select: none;
    width: 40%;
    height: fit-content;
    margin-top: 0;
    padding-top: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
    background-color: white;
    padding: 2rem 4rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    z-index: 101 !important;
}


.poke-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-section,
.bottom-section {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-evenly;
}

.bottom-section {
    justify-content: space-evenly;
}

.types-section {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-evenly;
}

.abilities-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.abilities-section label {
    padding-inline: 0px;
}

.abilities-section h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}



.pokemon-type {
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
}



#poke-img {
    width: 35% !important;
}